<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body class="container-fluid">
    <!-- modal for username selection-->
    <div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Write your name</h4>
          </div>
          <div class="modal-body">
            <!--<form id="usernameForm" >-->
              <div class="input-group">
                <input id="usernameInput" type="text" class="form-control" aria-label="username">
                <div class="input-group-btn">
                  <button id="join" type="submit" class="btn btn-info">Join!</button>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>

    <!-- UL container for new messages -->
    <div class="row container-fluid flex-parent flex-column">
      <div class="row flex flex-child flex-row" style="height:100%; padding-bottom:65px;">
        <div id="msgBoard" style="padding:15px; flex:3; overflow-y: scroll;">
          <ul id="messages"></ul>
        </div>
        <div style="flex:1; padding:15px;">
          <ul id="onlineUsers" class="list-group">

          </ul>
        </div>
      </div>
      <div class="row">
        <p id="typing-area"></p>

        <form id="msgForm" autocomplete="off" action="" class="col-md-12">
          <div class="input-group">
            <input id="m" type="text" class="form-control" aria-label="message">
            <div class="input-group-btn">
              <button class="btn btn-info">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
<!--
    <div class="row flex flex-row">
      <div class="col-md-10 col-sm-10" style="overflow: auto;height: 100%;">
        <ul id="messages"></ul>
      </div>
      <div class="col-md-2 col-sm-2 cbar" style="width:200px;">
        lista de usuarios
      </div>
    </div>
    <div class="row flex">
      <p id="typing-area"></p>

      <form id="msgForm" autocomplete="off" action="" class="col-md-12">
        <div class="input-group">
          <input id="m" type="text" class="form-control" aria-label="message">
          <div class="input-group-btn">
            <button class="btn btn-info">Send</button>
          </div>
        </div>
      </form>
    </div>
  -->

    <!-- users typing message area -->


    <!--scripts-->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>

  </body>
</html>
